.crystal {
    width:200px;
    height:170px;
}

nav {
    font-family: 'Monoton', cursive;
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    
}

.box1 {
    background-color: lightsalmon;
    margin-top:25px;
    margin-bottom:25px;
    padding:0px 15px 0px 15px;
    line-height: 30px;
    font-family: 'Merienda', cursive;
}

.box2 {
    /* margin-left:170px;
    margin-right:170px; */
}

.bigbox {
    align-content: center;
}


.box3 {
    /* margin-left:50px; */
    margin-right:50px;
    padding:20px;
    font-family: 'Orbitron', sans-serif;
    
    background-color: antiquewhite;
    font-size: 20px;
}

.box4 {
    /* margin-left:50px; */
    margin-right:50px;
    padding:20px;
    font-family: 'Orbitron', sans-serif;
   
    
    background-color: antiquewhite;
    font-size: 20px;
}

@media screen and (max-width:1006px){
    .crystal {
        width:150px;
        height:120px;
    }

    .box2 {
        margin-left:70px;
    }

    
    .box3 {
        margin-left:90px;
    }

    .box4 {
        margin-left:70px;
    }
   
}


@media screen and (max-width:783px){
    .crystal {
        width:120px;
        height:90px;
    }

    .box2 {
        margin-left:120px;
    }

    
    .box3 {
        margin-left:120px;
    }

    .box4 {
        margin-left:60px;
    }
   
}


@media screen and (max-width:400px){
    .crystal {
        width:120px;
        height:90px;
    }

    .box2 {
        margin-left:70px;
    }

    
    .box3 {
        margin-left:21px;
        margin-right:10px;
        padding:1px;
    }

    .box4 {
        margin-left:0px;
        padding:1px;
    }
   
}